In [1]:
! pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\15442\appdata\roaming\python\python310\site-packages (1.4.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\15442\appdata\roaming\python\python310\site-packages (from pandas) (2022.2.1)
Requirement already satisfied: numpy>=1.21.0 in c:\users\15442\appdata\roaming\python\python310\site-packages (from pandas) (1.23.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\15442\appdata\roaming\python\python310\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\15442\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
! pip install --upgrade pip

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pip in c:\users\15442\appdata\roaming\python\python310\site-packages (22.2.2)

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('Stage1_Sales_AfterSales_CRM_SCEQRY_TB.csv')

C:\Users\15442\AppData\Local\Temp\ipykernel_3020\1646526064.py:1: DtypeWarning: Columns (25,32,33,34,35,42,43,50,58,64,65,71,72,73,75) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Stage1_Sales_AfterSales_CRM_SCEQRY_TB.csv')

In [5]:
df

,EQRY_DLR_NO,EQRY_ENQRY_NO,EQRY_CORP_NO,EQRY_CMPN_NO,EQRY_DATE,EQRY_SRC_CODE,EQRY_STAT,EQRY_TYPE,EQRY_TEST_DRVR_DATE,EQRY_FNCE_YN,...,EQRY_EMAILSEND_YN,EQRY_SRC_FLG,EQRY_SR_NUM_REAL,EQRY_ENG_TYP,EQRY_TRNSM_TYP,SOQ_TAG_YN,EQRY_EVAL_YN,EQRY_EXCH_DN,EQRY_FINAL_BP,EQRY_CAMPGN_NO
0,TRAP302,E201900003,A10VA,K,2019-07-15,Online/CRM,55,W,NaN,N,...,NaN,MOB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,TRUP403,E201900001,A10VA,K,2019-07-15,Referral,60,H,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,TRUP403,E201900003,A10VA,K,2019-07-15,Walkin,60,H,NaN,N,...,NaN,NaN,NaN,C,B,Y,NaN,NaN,NaN,NaN
3,TRUP403,E201900006,A10VA,K,2019-07-16,Telephone,60,H,NaN,N,...,NaN,NaN,NaN,B,NaN,NaN,NaN,NaN,NaN,NaN
4,TRUP403,E201900007,A10VA,K,2019-07-16,Walkin,45,H,NaN,N,...,NaN,NaN,NaN,C,B,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3457849,TRKA310,E202202843,A10VA,K,2022-08-06,Walkin,9,C,NaN,N,...,NaN,MOB,KA310MS2208060244162843,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3457850,TRKA403,E202208509,A10VA,K,2022-08-06,Telephone,9,H,NaN,N,...,NaN,MOB,KA403MS2208060244238509,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3457851,TRJH501,E202200622,A10VA,K,2022-08-06,Telephone,20,H,NaN,N,...,NaN,MOB,JH501MS2208060244570622,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3457852,TRTN403,E202206171,A10VA,K,2022-08-06,Walkin,9,C,NaN,N,...,NaN,MOB,TN403MS2208060245026171,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3457853,TRMH406,E202207137,A10VA,K,2022-08-06,Walkin,9,H,NaN,N,...,NaN,MOB,MH406MS2208060245097137,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3457854 entries, 0 to 3457853
Data columns (total 76 columns):
 #   Column                  Dtype
---  ------                  -----
 0   EQRY_DLR_NO             object
 1   EQRY_ENQRY_NO           object
 2   EQRY_CORP_NO            object
 3   EQRY_CMPN_NO            object
 4   EQRY_DATE               object
 5   EQRY_SRC_CODE           object
 6   EQRY_STAT               int64
 7   EQRY_TYPE               object
 8   EQRY_TEST_DRVR_DATE     float64
 9   EQRY_FNCE_YN            object
 10  EQRY_FNCER_CODE         object
 11  EQRY_LOAN_AMT           float64
 12  EQRY_TENOR_MNTHS        int64
 13  EQRY_EXCHG_YN           object
 14  EQRY_EXCHG_MODEL_CODE   object
 15  EQRY_EXCHG_SRC_CODE     float64
 16  EQRY_EXPCT_PRICE        float64
 17  EQRY_QUOTD_PRICE        float64
 18  EQRY_CLSE_DATE          object
 19  EQRY_CLSE_TYPE          float64
 20  EQRY_CLSE_RMRKS         object
 21  EQRY_EMP_NO             object
 22  EQRY_CUST_NO            object
 23  EQRY_LISTD_CORP         object
 24  EQRY_CORP_NAME          object
 25  EQRY_RFRL_BY            object
 26  EQRY_CRTE_DTIME         object
 27  EQRY_CRTE_EMP_NO        object
 28  EQRY_UPDT_DTIME         object
 29  EQRY_UPDT_EMP_NO        object
 30  EQRY_EQFU_SEQ           float64
 31  EQRY_UPDT_DATE          float64
 32  EQRY_TEST_DRIVE_YN      object
 33  EQRY_SR_NUM             object
 34  EQRY_SR_TYPE            object
 35  EQRY_FLW_STATUS         object
 36  EQRY_ASSOCIATE_ID       float64
 37  EQRY_RSO_ID             float64
 38  EQRY_FUEL_TYPE          object
 39  EQRY_PRESENT_CAR_YN     object
 40  EQRY_MAKER_CODE         object
 41  EQRY_TD_VIN             float64
 42  EQRY_CUST_BLOCK         object
 43  EQRY_BULK_SALE          object
 44  EQRY_P_MODL_YEAR        float64
 45  EQRY_CLS_VAL            float64
 46  EQRY_INCOM_GROUP        float64
 47  EQRY_REFL_ID            float64
 48  EQRY_REFL_PUNCH_DLR_NO  float64
 49  EQRY_PLAN_DATE          float64
 50  EQRY_ATIVT_NAME_CODE    object
 51  EQRY_ATIVT_LOC_CODE     float64
 52  EQRY_NEWCAR_YN          object
 53  EQRY_FCALL_EMP_NO       object
 54  EQRY_APNT_DTIME         float64
 55  VIST_DTIME              float64
 56  LEAV_DTIME              float64
 57  EQRY_CTGR_CODE          float64
 58  EQRY_SUB_SRC_CODE       object
 59  EQRY_CLSE_GRP_TYPE      object
 60  EQRY_BUDG_TYPE          float64
 61  EQRY_CERT_TYPE          float64
 62  EQRY_UC_SC_EMP_NO       float64
 63  EQRY_TDRIVE_RMRKS       object
 64  EQRY_VC_RMRKS           object
 65  EQRY_REQ_TYPE           object
 66  EQRY_EMAILSEND_YN       float64
 67  EQRY_SRC_FLG            object
 68  EQRY_SR_NUM_REAL        object
 69  EQRY_ENG_TYP            object
 70  EQRY_TRNSM_TYP          object
 71  SOQ_TAG_YN              object
 72  EQRY_EVAL_YN            object
 73  EQRY_EXCH_DN            object
 74  EQRY_FINAL_BP           float64
 75  EQRY_CAMPGN_NO          object
dtypes: float64(27), int64(2), object(47)
memory usage: 2.0+ GB

In [10]:
df[df['EQRY_DLR_NO'].str.len().lt(10)]

,EQRY_DLR_NO,EQRY_ENQRY_NO,EQRY_CORP_NO,EQRY_CMPN_NO,EQRY_DATE,EQRY_SRC_CODE,EQRY_STAT,EQRY_TYPE,EQRY_TEST_DRVR_DATE,EQRY_FNCE_YN,...,EQRY_EMAILSEND_YN,EQRY_SRC_FLG,EQRY_SR_NUM_REAL,EQRY_ENG_TYP,EQRY_TRNSM_TYP,SOQ_TAG_YN,EQRY_EVAL_YN,EQRY_EXCH_DN,EQRY_FINAL_BP,EQRY_CAMPGN_NO
0,TRAP302,E201900003,A10VA,K,2019-07-15,Online/CRM,55,W,NaN,N,...,NaN,MOB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,TRUP403,E201900001,A10VA,K,2019-07-15,Referral,60,H,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,TRUP403,E201900003,A10VA,K,2019-07-15,Walkin,60,H,NaN,N,...,NaN,NaN,NaN,C,B,Y,NaN,NaN,NaN,NaN
3,TRUP403,E201900006,A10VA,K,2019-07-16,Telephone,60,H,NaN,N,...,NaN,NaN,NaN,B,NaN,NaN,NaN,NaN,NaN,NaN
4,TRUP403,E201900007,A10VA,K,2019-07-16,Walkin,45,H,NaN,N,...,NaN,NaN,NaN,C,B,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3457849,TRKA310,E202202843,A10VA,K,2022-08-06,Walkin,9,C,NaN,N,...,NaN,MOB,KA310MS2208060244162843,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3457850,TRKA403,E202208509,A10VA,K,2022-08-06,Telephone,9,H,NaN,N,...,NaN,MOB,KA403MS2208060244238509,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3457851,TRJH501,E202200622,A10VA,K,2022-08-06,Telephone,20,H,NaN,N,...,NaN,MOB,JH501MS2208060244570622,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3457852,TRTN403,E202206171,A10VA,K,2022-08-06,Walkin,9,C,NaN,N,...,NaN,MOB,TN403MS2208060245026171,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3457853,TRMH406,E202207137,A10VA,K,2022-08-06,Walkin,9,H,NaN,N,...,NaN,MOB,MH406MS2208060245097137,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
findStr = df['EQRY_DLR_NO'].str.contains('Personal tragedy').any()

In [19]:
findStr

False

In [21]:
flag2 = df['EQRY_CLSE_RMRKS'].str.contains('Personal tragedy').any()

In [22]:
flag2

True

In [25]:
df.drop(['EQRY_CLSE_RMRKS'], axis=1,inplace = True)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3457854 entries, 0 to 3457853
Data columns (total 75 columns):
 #   Column                  Dtype
---  ------                  -----
 0   EQRY_DLR_NO             object
 1   EQRY_ENQRY_NO           object
 2   EQRY_CORP_NO            object
 3   EQRY_CMPN_NO            object
 4   EQRY_DATE               object
 5   EQRY_SRC_CODE           object
 6   EQRY_STAT               int64
 7   EQRY_TYPE               object
 8   EQRY_TEST_DRVR_DATE     float64
 9   EQRY_FNCE_YN            object
 10  EQRY_FNCER_CODE         object
 11  EQRY_LOAN_AMT           float64
 12  EQRY_TENOR_MNTHS        int64
 13  EQRY_EXCHG_YN           object
 14  EQRY_EXCHG_MODEL_CODE   object
 15  EQRY_EXCHG_SRC_CODE     float64
 16  EQRY_EXPCT_PRICE        float64
 17  EQRY_QUOTD_PRICE        float64
 18  EQRY_CLSE_DATE          object
 19  EQRY_CLSE_TYPE          float64
 20  EQRY_EMP_NO             object
 21  EQRY_CUST_NO            object
 22  EQRY_LISTD_CORP         object
 23  EQRY_CORP_NAME          object
 24  EQRY_RFRL_BY            object
 25  EQRY_CRTE_DTIME         object
 26  EQRY_CRTE_EMP_NO        object
 27  EQRY_UPDT_DTIME         object
 28  EQRY_UPDT_EMP_NO        object
 29  EQRY_EQFU_SEQ           float64
 30  EQRY_UPDT_DATE          float64
 31  EQRY_TEST_DRIVE_YN      object
 32  EQRY_SR_NUM             object
 33  EQRY_SR_TYPE            object
 34  EQRY_FLW_STATUS         object
 35  EQRY_ASSOCIATE_ID       float64
 36  EQRY_RSO_ID             float64
 37  EQRY_FUEL_TYPE          object
 38  EQRY_PRESENT_CAR_YN     object
 39  EQRY_MAKER_CODE         object
 40  EQRY_TD_VIN             float64
 41  EQRY_CUST_BLOCK         object
 42  EQRY_BULK_SALE          object
 43  EQRY_P_MODL_YEAR        float64
 44  EQRY_CLS_VAL            float64
 45  EQRY_INCOM_GROUP        float64
 46  EQRY_REFL_ID            float64
 47  EQRY_REFL_PUNCH_DLR_NO  float64
 48  EQRY_PLAN_DATE          float64
 49  EQRY_ATIVT_NAME_CODE    object
 50  EQRY_ATIVT_LOC_CODE     float64
 51  EQRY_NEWCAR_YN          object
 52  EQRY_FCALL_EMP_NO       object
 53  EQRY_APNT_DTIME         float64
 54  VIST_DTIME              float64
 55  LEAV_DTIME              float64
 56  EQRY_CTGR_CODE          float64
 57  EQRY_SUB_SRC_CODE       object
 58  EQRY_CLSE_GRP_TYPE      object
 59  EQRY_BUDG_TYPE          float64
 60  EQRY_CERT_TYPE          float64
 61  EQRY_UC_SC_EMP_NO       float64
 62  EQRY_TDRIVE_RMRKS       object
 63  EQRY_VC_RMRKS           object
 64  EQRY_REQ_TYPE           object
 65  EQRY_EMAILSEND_YN       float64
 66  EQRY_SRC_FLG            object
 67  EQRY_SR_NUM_REAL        object
 68  EQRY_ENG_TYP            object
 69  EQRY_TRNSM_TYP          object
 70  SOQ_TAG_YN              object
 71  EQRY_EVAL_YN            object
 72  EQRY_EXCH_DN            object
 73  EQRY_FINAL_BP           float64
 74  EQRY_CAMPGN_NO          object
dtypes: float64(27), int64(2), object(46)
memory usage: 1.9+ GB

In [28]:
df.to_csv("C:\\Users\\15442\\Desktop\\Stage1_Sales_AfterSales_CRM_SCEQRY_TB.csv",index=False)

In [30]:
import pyarrow as pa
import pyarrow.parquet as pq

In [32]:
df.to_parquet('C:\\Users\\15442\\Desktop\\Stage1_Sales_AfterSales_CRM_SCEQRY_TB.parquet', engine='pyarrow')

ArrowTypeError: ("Expected bytes, got a 'float' object", 'Conversion failed for column EQRY_ATIVT_NAME_CODE with type object')